*{
  font-family: 'Montserrat', sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.App {
  text-align: center;
}

h1 {
  margin: 0.5rem;
}

input{
  margin: 0.5rem;
}

input:focus {
  outline: none;
}

button{
  border: none;
  padding: 0.25rem;
  outline: none;
}

button:hover {
  background: black;
  color: white;
}

button:active {
  color: #ff00dd ;
}



.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}


